.img_tema{
  filter: opacity(25%);
  width: 350px;
  justify-self: start;
}

.artigo #home{
  justify-items: center;
}

.artigo .text_home h1{
  justify-self: start;
  text-align: start;
}

.artigo .text_home h2{
  justify-self: start;
  text-align: start;
}

.artigo .btn{
  text-align: center;
}

.artigo .publish{
  justify-self: end;
  text-align: right !important;
}

.artigo .vermais{
  display: flex;
  align-items: center;
  gap: 5px;
}
.artigo i{
  color: var(--corB1);
}

@media (max-width: 1000px){
  .logo-Monica{
    width: 180px;
  }
  .img_tema{
    width: 300px;
  }
}

@media (max-width: 900px){
  .artigo ul{
    margin-left: 50px !important;
    margin-right: 50px !important;
  }

  .artigo .vermais{
    margin-left: 0px !important;
  }
}

@media (max-width: 800px){
  .logo-Monica{
    top: 5px;
    width: 150px;
  }
  .img_tema{
    width: 250px;
  }
  .artigo ul{
    margin-left: 20px !important;
    margin-right: 0px !important;
  }
}


@media (max-width: 600px){
  .logo-Monica:not(#page_home .logo-Monica){
    width: 130px;
  }
  .img_tema{
   display: none;
  }
  .text_home:not(#page_home .text_home){
    padding-top: 40px;
    padding-bottom: 20px;
  }
}