.logo-ML{
  width: 80px;
}

header a{
  display: block;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.menu{
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu .atual::after{
  content: "";
  display: block;
  width: 102%;
  height: 2px; 
  border-radius: 2px;
  background-color: var(--corA3);
}

.menu a:hover:not(.atual){
  color: var(--corB1);
}

@media (max-width: 1000px){
  .logo-ML{
    scale: 80%;
  }
}
@media (max-width: 800px){
  .logo-ML{
    scale: 70%;
  }
  header{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .menu{
    gap: 25px;
  }
}

@media (max-width:600px){
  header.container{
    padding-left: 0px;
    padding-right: 10px; 
  }
  .menu-toggle {
    display: block;
  }
  .menu-toggle i{
    color: var(--corB1);
  }

  .menu {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    background: #fff;
    padding: 1rem;
    position: absolute;
    border-radius: 0px 0px 0px 20px;
    top: 100%;
    right: 0;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    align-items: start;
  }
  .menu .atual::after{
    display: none;
  }
  .atual{
    color: var(--corA3);
  }
  .menu a:not(.btn1){
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .menu .btn1{
    max-width: 12ch;
    padding: 5px 8px;
    border-radius: 10px;
    text-align: center;
  }

  .menu.active {
    display: flex;
  }

}