.foto_perfil{
    width: 420px;
}

.logo-Monica{
  width: 200px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#home{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  align-items: center;
}

.text_home{
  display: grid;
}
.text_home h1{
  justify-self: end;
  text-align: end;
}

.text_home h2{
  justify-self: end;
  text-align: end;
  max-width: 40ch;
}

.text_home a{
  justify-self: center;
  max-width: 20ch;
  text-align: center;
}

/*------------------*/

#descricao h1{
  text-align: center;
}

#descricao p{
  text-align: justify;
}

/*------------------*/

#saibamais{
  text-align: center;
}

.links_container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  justify-items: center;
}

.links_container a{
  display: block;
  text-decoration: none;
  width: 225px;
  text-align: start;
}

.links_container a:hover h3{
  text-decoration: underline;
}

.links_container img{
  width: 225px;
  border-radius: 10px;
}

/*------------------*/

#linha_detalhe{
  display: block;
  width: 100%;
  height: 1.5px;
  background-color: var(--corA2);
}

/*------------------*/

#redes{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#redes .text{
  position: relative;
}

#redes .text::before{
  content: "";
  position: absolute;
  display: block;
  width: 5px;
  height: 100%; 
  top: 0;
  left: -10px;
  border-radius: 2px;
  background-color: var(--corB1);
}

#redes a{
  display: flex;
  gap: 5px;
  align-items: center;
  width: max-content;
}

#redes i{
  font-size: 32px;
  color: var(--corA4);
}


#redes a:hover p{
  text-decoration: underline;
}
#redes a:hover i{
  color: var(--corB1);
}

#redes img{
  max-width: 300px;
  justify-self: center;
}

/*------------------*/

footer p{
  text-align: center;
}

/*------------------*/

@media (min-width: 1400px){
  .foto_perfil{
    width: 500px;
  }
}

@media (max-width: 1000px){
  .logo-Monica{
    width: 180px;
  }
  .foto_perfil{
    width: 350px;
  }

  .links_container{
    gap: 15px;
  }  
  .links_container a{
    width: 190px;
  }
  .links_container img{
    width: 190px;
  }

  #redes img{
    max-width: 240px;
  }
}

@media (max-width:900px){
  #descricao p{
    margin-left: 0;
    margin-right: 0;
  }
  .links_container{
    margin-left: 0;
    margin-right: 0;
  }
  #redes div{
    margin-left: 0;
  }
  #redes img {
    margin-right: 0px;
  }
}

@media (max-width: 800px){
  .logo-Monica{
    top: 5px;
    width: 150px;
  }
  .foto_perfil{
    width: 300px;
  }
  .text_home h1{
    margin-top: 25px;
    font-weight: 500;
  }

  .links_container{
    gap: 0px;
  } 
  .links_container a{
    width: 170px;
  }
  .links_container img{
    width: 170px;
  }

  #redes img{
    max-width: 220px;
    justify-self: end;
  }
  #redes i{
  font-size: 28px;
  }
}

@media (max-width: 660px){
  .links_container{
    grid-template-columns: auto auto auto;
  } 
}

@media (max-width: 600px){
  #home{
    grid-template-columns: 1fr;
    flex-direction: column;
    justify-items: center;
  }
  .foto_perfil{
    width: 100vw;
  }
  #page_home .logo-Monica{
    top: -45px;
  }
  .text_home h1{
    justify-self: center;
    text-align: center;
  }
  .text_home h2{
    justify-self: center;
    text-align: center;
  }
  .text_home a {
    margin-bottom: 15px;
  }

  #redes {
    grid-template-columns: 1fr ;
  }
  #redes img{
    display: none;
  }
  #redes > div{
    background-image: url(../img/logo-A2-circuloTrans.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .links_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .links_container a{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px; 
    align-items: center; 
    width: 100%;
  }
  .links_container a div{
    display: flex;
    flex-direction: column;
  }
  .links_container img{
    width: 120px;
  }
}

